@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --color-bg-card: #F7F9F5;
  --color-primary: #546B41;
  --color-primary-light: rgba(84, 107, 65, 0.05);
}

body{
    font-family: var(--font-poppins), sans-serif;
}
